{erl_opts, [
        debug_info,
        fail_on_warning,
        {parse_transform, lager_transform}
    ]}.

{deps, [
        {erlv8, ".*", {git, "git://github.com/beamjs/erlv8.git", {branch, "master"}}},
        {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", {branch, "master"}}},
        {lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}},
        {webmachine, ".*", {git, "git://github.com/basho/webmachine", {branch, "master"}}}
    ]}.

{sub_dirs, ["apps/lifeguard", "rel"]}.
