/* Bootstrap Overrides */
.navbar-inner {
    border-radius: 0 0 4px 4px;
}

/* Basic styles */
#data-sources-loading {
    font-weight: bold;
}

ul#data-sources-list {
    width: 80%;
}

ul#data-sources-list {
    margin-top: 20px;
}

ul#data-sources-list, ul#data-sources-list li {
    list-style-type: none;
}

#data-sources-list li {
    padding: 10px;
}

#data-sources-list li:hover {
    background-color: #EEE;
}

#data-sources-list .unit .name {
    font-size: 18px;
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#data-sources-list .unit .name:hover {
    cursor: pointer;
}

#data-sources-list .unit .console .results {
    max-height: 150px;
    overflow: scroll;
    width: 100%;
}

/* Modules */
.Module.dashboard {
    padding: 10px;
}

.Module.dashboard .unit {
    border: 1px solid #666;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 40px;
    text-align: center;
}

.Module.dashboard .unit.healthy {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}

.Module.dashboard .unit.unhealthy {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}

.Module.dashboard .unit.unknown {
    background-color: #FCF8E3;
    border-color: #FBEED5;
    color: #C09853;
}

.Module.page .page-header {
    padding-bottom: 10px;
    margin: 0 0 13px 0;
    border-bottom: 1px solid #EEE;
}
